<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" th:src="@{/js/offer-view.js}"></script>
    <style>
        * {
            font-size: 18px;
        }
        .info-container {
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
        .info-offer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        .offer-field {
            display: flex;
            align-items: center;
            gap: 40px;
            width: 40%;
            margin-bottom: 10px;
        }
        .popup-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 1000;
        }
        .popup {
            background: white;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .label {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container my-4" layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Offer</h1>
        <div class="d-flex justify-content-between align-items-center">
            <span>[[${username}]]</span> <span class="material-icons mx-2">person</span><a href="#">Logout</a>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/offer-management}">OfferList</a></li>
            <li class="breadcrumb-item active" aria-current="page">Offer Detail</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-end align-items-center">
        <p style="font-size: 14px; font-style: italic">Created on [[${createdAt}]]</p>
    </div>
    <div class="p-3 info-container rounded">
        <div class="d-flex justify-content-end align-items-center mb-5">
            <a th:if="${offer.status == 'Approved'}" th:href="@{/offer/mark-send/{id}(id=${offer.id})}" class="mr-2 btn btn-info">Mark as Sent to Candidate</a>
            <a th:if="${offer.status == 'Waiting for Response'}"  th:href="@{/offer/accept/{id}(id=${offer.id})}" class="mr-2 btn btn-success">Accepted</a>
            <a th:if="${offer.status == 'Waiting for Response'}" th:href="@{/offer/decline/{id}(id=${offer.id})}" class="mr-2 btn btn-warning">Declined</a>
            <a th:if="${offer.status == 'Waiting for Approval' || offer.status == 'Rejected'}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" th:href="@{/offer/approve/{id}(id=${offer.id})}" class="mr-2 btn btn-success">Approve</a>
            <button th:if="${offer.status == 'Waiting for Approval'}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" id="rejectOfferBtn" class="mr-2 btn btn-danger">Reject</button>
            <a th:if="${offer.status == 'Waiting for Approval' || offer.status == 'Waiting for Response' || offer.status == 'Accepted offer' || offer.status == 'Approved'}" id="cancelOfferBtn" class="mr-2 btn btn-danger">Cancel Offer</a>
        </div>
        <form>
            <div class="info-offer mb-4">
                <div class="offer-field">
                    <div class="label">Candidate: </div>
                    <div th:text="${offer.candidate.name}">Tran Van Song</div>
                </div>
                <div class="offer-field">
                    <div class="label">Contract Type: </div>
                    <div th:text="${offer.contractType}">Tran Van Song</div>
                </div>
                <div class="offer-field">
                    <div class="label">Position: </div>
                    <div th:text="${offer.position}">Tran Van Song</div>
                </div>
                <div class="offer-field">
                    <div class="label">Level: </div>
                    <div th:text="${offer.level}">Tran Van Song</div>
                </div>
                <div class="offer-field">
                    <div class="label">Approver: </div>
                    <div th:text="${offer.approver.fullName}">Tran Van Song</div>
                </div>
                <div class="offer-field">
                    <div class="label">Department: </div>
                    <div th:text="${offer.department}">Tran Van Song</div>
                </div>
                <div class="offer-field">
                    <div class="label">Interview Info: </div>
                    <div>
                        <div th:text="${offer.interviewInfo.title}">Tran Van Song</div>
                        <div >Interviewer: [[${interviewerNames}]]</div>
                    </div>

                </div>
                <div class="offer-field">
                    <div class="label">Recruiter Owner: </div>
                    <div th:text="${offer.recruiterOwner.username}">Tran Van Song</div>
                </div>
                <div class="offer-field">
                    <div class="label">Contract Period: </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center mr-3">
                            <div style="font-size: 14px; margin-right: 3px;">From:</div>
                            <div th:text="${contractPeriodStart}">Tran Van Song</div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div style="font-size: 14px; margin-right: 3px;">To:</div>
                            <div th:text="${contractPeriodEnd}">Tran Van Song</div>
                        </div>
                    </div>
                </div>
                <div class="offer-field">
                    <div class="label">Due Date:</div>
                    <div th:text="${dueDate}">Tran Van Song</div>
                </div>
                <div class="offer-field">
                    <div class="label">Interview Notes:</div>
                    <div th:text="${offer.interviewNote}">Tran Van Song</div>
                </div>
                <div class="offer-field">
                    <div class="label">Basic Salary:</div>
                    <div>[[${basicSalary}]] VND</div>
                </div>
                <div class="offer-field">
                    <div class="label">Note:</div>
                    <div th:text="${offer.note}">Tran Van Song</div>
                </div>
                <div class="offer-field">
                    <div class="label">Status:</div>
                    <div th:text="${offer.status}">N/A</div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <a th:if="${offer.status == 'Waiting for Approval' || offer.status == 'Rejected'}" th:href="@{/offer/edit/{id}(id=${offer.id})}" class="btn btn-info mr-2">Edit</a>
                <a th:href="@{/offer-management}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    <div id="confirmCancelPopup" class="popup-overlay">
        <div class="popup">
            <p>Are you sure you want to cancel this offer?</p>
            <a class="btn btn-primary" th:href="@{/offer/cancel-offer/{id}(id=${offer.id})}" id="confirmYes">Yes</a>
            <button class="btn btn-primary" id="confirmNo">No</button>
        </div>
    </div>

    <div id="rejectModal" class="popup-overlay">
        <div class="popup w-25">
            <div>
                <div class="modal-header">
                    <h5 class="modal-title">Reject Offer</h5>
                </div>
                <div class="modal-body">
                    <form id="rejectForm" method="post" th:action="@{/offer/reject/{id}(id=${offer.id})}">
                        <div class="form-group">
                            <label for="note">Note:</label>
                            <textarea class="form-control" id="note" name="note" rows="3" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="rejectCancelBtn">Cancel</button>
                    <button type="submit" form="rejectForm" class="btn btn-danger">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
