body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

header {
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    flex-direction: column;
}

header h1 {
    margin: 0;
}

.breadcrumb {
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb span {
    color: #555;
}

.user{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.user-info {
    text-align: right;
}

.user-icon a{
    color: #555;
}

.user-icon a:hover{
    color: black;
}

.username {
    font-weight: bold;
}

.department {
    color: gray;
}

.user-icon {
    font-size: 24px;
    vertical-align: middle;
}
.user-info-text{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.user-info-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}
.logout {
    margin-left: 15px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.form-section {
    padding: 20px 0;
}




label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.calendar-icon {
    position: absolute;
    right: 20px;
    top: 35px;
    font-size: 18px;
    color: #888;
}

.form-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


form button {
    background-color: #ccc;
    color: #000;
}

form button:hover{
    background-color: #007bff;
    color: #fff;
}